.idea
.vscode
go-admin
docs
bin
temp/
!temp
vendor
static/uploadfile
config/settings.dev.yml
config/settings.dev.*.yml
config/settings.dev.*.yml.log
config/settings.dev.yml.log
config/settings.b.dev.yml
common/middleware/demo.go
temp/logs
cmd/migrate/migration/version_local/*
